.fish {
    display: flex;
    justify-content: space-evenly;
   
  }
.places {
    display: flex;
    justify-content: space-evenly;
  }

  .title_fish {
    margin: 0% 5% 5% 5%;
    font-family: 'Montserrat', sans-serif !important;

  }

  .title_places {
    margin: 5%;
    font-family: 'Montserrat', sans-serif !important;
  }

  .fish_and_places {
    flex: 3;
    flex-basis: 15%;
  }


  h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 150%;
  }
h2 {
  font-family: 'Roboto', sans-serif!important;
  font-weight: bold;
  text-align: center;
  font-size: 150%;
}
  img {
    height: 100%;
  }

 .card-text {
    font-family: 'Roboto', sans-serif!important;
    list-style: none;
    margin-left: -15%;
  }

  .card-img-top{
    opacity: 80%;
  }

