.fish {
    display: flex;
    justify-content: space-around;
    margin:2%;
  }
.places {
    display: flex;
    justify-content: space-around;
    margin:2%;
  }

  .title_fish {
    margin: 0% 5% 5% 5%;

  }

  .title_places {
    margin: 5%;
  }

  .fish_and_places {
    /* width: 700%; */
    margin: 0% 2% 0% 0%;
  }

  .card {
    margin: 0% 1% 1% 1%;
  }

  h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 150%;
  }
h2 {
  font-family: 'Roboto', sans-serif!important;
  font-weight: bold;
  text-align: center;
  font-size: 150%;
}
  img {
    height: 100%;
  }

 .card-text {
    font-family: 'Roboto', sans-serif!important;
    list-style: none;
    margin-left: -15%;
  }

  .card-img-top{
    opacity: 80%;
  }

